#cricket{
    text-align: center;
    border-spacing: 2px;
}
p{
    color: red;
    font-size: 17px;
    font-family: 'Gill Sans';
}
.bat img{
    margin-top:4px;
    border: 2px solid brown;
}
.bat p{
    margin-top: -8px;
}
.bat h3{
    background-color: aliceblue;
    margin-top: -20px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}
.ball img{
    margin-top:24px;
    border: 2px solid brown;
}
.ball p{
    margin-top: -7px;
}
.ball h3{
    background-color: aliceblue;
    margin-top: -25px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}
.kit img{
    margin-top:21px;
    border: 2px solid brown;
}
.kit p{
    margin-top: -6px;
}
.kit h3{
    background-color: aliceblue;
    margin-top: -16px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}