#Football{
    text-align: center;
    border-spacing: 2px;
}
p{
    color: red;
    font-size: 17px;
    font-family: 'Gill Sans';
}
.foot img{
    margin-top:4px;
    border: 2px solid brown;
}
.foot p{
    margin-top: -8px;
}
.foot h3{
    background-color: aliceblue;
    margin-top: -20px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}
.shoes img{
    margin-top:24px;
    border: 2px solid brown;
}
.shoes p{
    margin-top: -7px;
}
.shoes h3{
    background-color: aliceblue;
    margin-top: -25px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}
.kitf img{
    margin-top:21px;
    border: 2px solid brown;
}
.kitf p{
    margin-top: -6px;
}
.kitf h3{
    background-color: aliceblue;
    margin-top: -16px;
    border: 4px solid green;
    margin:-14px 536px 0 518px;
}